*,
*::before,
*::after {
  box-sizing: border-box;
}

.mainBox {
  position: relative;
  display: inline-block;
}

.healthbarBox {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.playerHealthBox {
  position: relative;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.playerHealthBox-background {
  background-color: yellow;
  height: 30px;
  width: 100%;
}

.playerHealthBox-foreground {
  position: absolute;
  background: blue;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.timer {
  background-color: red;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
}

.enemyHealthBox {
  position: relative;
  height: 30px;
  width: 100%;
}

.enemyHealthBox-background {
  background-color: yellow;
  height: 30px;
}

.enemyHealthBox-foreground {
  position: absolute;
  background: blue;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
